 * {
   margin: 0;
   padding: 0;
 }

 body {
   display: flex;
   height: 100vh;
   background-color: #000;
 }

 button {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 12vh;
   height: 4vh;
   border: 3px solid brown;
   background-color: rgb(88, 100, 112);
   font-size: 2vh;
   text-transform: uppercase;
   cursor: pointer;
   transition: .2s linear;
 }

 button:hover {
   border-color: rgb(88, 100, 112);
   background-color: brown;
   color: #333;
 }

 ul {
   margin: auto;
   list-style: none;
   color: #47ff00;
   font-family: 'Monda', sans-serif;
 }

 li {
   display: inline-block;
   font-size: 10vh;
   letter-spacing: 1vh;
   text-transform: uppercase;
   text-shadow: 0 0 2vh #fff, 0 0 1vh #47ff00;
   transition: .2s linear;
 }

 li:first-of-type {
   transform: rotate(12deg);
 }

 li:nth-child(3) {
   transform: translateY(10%) rotate(15deg) skew(-12deg);
   animation: neon 2s infinite linear;
   transition: none;
 }

 li:nth-last-child(5) {
   transform: rotate(-10deg);
 }

 li:nth-last-child(4) {
   width: 20px;
 }

 @keyframes neon {
   4% {
     text-shadow: 0 0 2vh #fff, 0 0 1vh #47ff00;
     opacity: 1;
   }

   5% {
     text-shadow: 0 0 1vh #fff, 0 0 .5vh #47ff00;
     opacity: .5;
   }

   19% {
     text-shadow: 0 0 1vh #fff, 0 0 .5vh #47ff00;
     opacity: .5;
   }

   20% {
     text-shadow: 0 0 2vh #fff, 0 0 1vh #47ff00;
     opacity: 1;
   }

   34% {
     text-shadow: 0 0 2vh #fff, 0 0 1vh #47ff00;
     opacity: 1;
   }

   35% {
     text-shadow: 0 0 1vh #fff, 0 0 .5vh #47ff00;
     opacity: .5;
   }

   49% {
     text-shadow: 0 0 1vh #fff, 0 0 .5vh #47ff00;
     opacity: .5;
   }

   50% {
     text-shadow: 0 0 2vh #fff, 0 0 1vh #47ff00;
     opacity: 1;
   }

   64% {
     opacity: 1;
   }

   65% {
     opacity: 0;
   }

   75% {
     opacity: 0;
   }

   76% {
     opacity: 1;
   }

   80% {
     opacity: 1;
   }

   81% {
     opacity: 0;
   }

   85% {
     opacity: 0;
   }

   86% {
     opacity: 1;
   }

   90% {
     opacity: 1;
   }

   91% {
     opacity: 0;
   }

   95% {
     opacity: 0;
   }

   96% {
     opacity: 1;
   }
 }

 .off {
   opacity: 0;
 }